<%=form_for @guest do |f|%>

  <%= f.label 'First Name:' %>
  <br>
  <%= f.text_field :first_name, required: true, placeholder: 'first name'%>
  <br>
  <br>
  <%= f.label 'Last Name:' %>
  <br>
  <%= f.text_field :last_name, required: true, placeholder: 'last name'%>
  <br>
  <br>
  <%= f.label 'Email:' %>
  <br>
  <%= f.email_field :email, required: true, placeholder: 'name@domain.com' %>
  <br>
  <br>
  <%= f.label 'Phone:' %>
  <br>
  <%= f.telephone_field :phone, required: true, placeholder: 'xxx-xxx-xxxx'%>
  <br>
  <br>
  <%= f.label 'Number of Guests:' %>
  <br>
  <%= f.select :num_guests, (0..20) %>
  <br>
  <br>

  <%= f.submit %>
<%end%>

<% if @guest.errors.any? %>
  <div class="form-error">
    <ul>
      <% @guest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
