<h4>Change Password</h4>
<%= form_for @user, :url => change_password_path(@user.id) do |f| %>
  <%= f.label "Old Password" %><br />
  <%= f.password_field :old_password %><br />
  <%= f.label "New Password" %><br />
  <%= f.password_field :password %><br />
  <%= f.label "Confirm Password" %><br />
  <%= f.password_field :password_confirmation %><br />
  <br />
  <%= f.submit %>
<% end %>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
