<%=form_for User.new do |f|%>

  <%= f.label 'First Name:' %>
  <br>
  <%= f.text_field :first_name, required: true, placeholder: 'first name'%>
  <br>
  <br>
  <%= f.label 'Last Name:' %>
  <br>
  <%= f.text_field :last_name, required: true, placeholder: 'last name'%>
  <br>
  <br>
  <%= f.label 'Email:' %>
  <br>
  <%= f.email_field :email, required: true, placeholder: 'name@domain.com' %>
  <br>
  <br>
  <%= f.label 'Phone:' %>
  <br>
  <%= f.telephone_field :phone, required: true, placeholder: 'xxx-xxx-xxxx'%>
  <br>
  <br>
  <%= f.label 'Password:' %>
  <br>
  <%= f.password_field :password, required: true, placeholder: 'password'%>
  <br>
  <br>
  <%= f.label 'Confirm Password:' %>
  <br>
  <%= f.password_field :password_confirmation, required: true, placeholder: 'confirm password'%>
  <br>
  <br>
  <%= f.label 'User Role:' %>
  <br>
  <%= f.collection_select :role_ids, Role.all, :id, :title, {:prompt => true}%>
  <br>
  <br>




  <%= f.submit %>
<%end%>

<!-- displays form errors -->
<% if @user.errors.any? %>
  <div class="form-error">
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
