<%# TODO: Add edit tour button %>


<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="upcoming-tours-tab" data-toggle="tab" href="#upcoming-tours" role="tab" aria-controls="upcoming-tours" aria-selected="true">Upcoming Tours</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="past-tours-tab" data-toggle="tab" href="#past-tours" role="tab" aria-controls="past-tours" aria-selected="false">Past Tours</a>
  </li>
</ul>


<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="upcoming-tours" role="tabpanel" aria-labelledby="upcoming-tours-tab">

    <div class="tours-container">
      <h2>Upcoming Tours</h2>

      <%= render partial: 'tour_list', locals: { tours: @upcoming_tours} %>

    </div>
  </div>

  <div class="tab-pane fade" id="past-tours" role="tabpanel" aria-labelledby="past-tours-tab">
    <div class="tours-container">
      <h2>Past Tours</h2>

      <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-needs-approval-tab" data-toggle="pill" href="#pills-needs-approval" role="tab" aria-controls="pills-needs-approval" aria-selected="true">Needs Approval</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-approved-tab" data-toggle="pill" href="#pills-approved" role="tab" aria-controls="pills-approved" aria-selected="false">Approved</a>
        </li>
      </ul>

      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-needs-approval" role="tabpanel" aria-labelledby="pills-needs-approval-tab">
          <%= render partial: 'tour_list', locals: { tours: @past_tours_needs_approval} %>
        </div>
        <div class="tab-pane fade" id="pills-approved" role="tabpanel" aria-labelledby="pills-approved-tab">
          <%= render partial: 'tour_list', locals: { tours: @past_tours_approved} %>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
      </div>
  </div>
</div>


<% content_for :side_bar do %>

<div class="container">
  <div class="container">
    <%= link_to "Add Tour", new_tour_path, :class => "btn btn-primary" %>
  </div>

  <div class="container tour_filters">
    <%= form_tag(tours_path, method: :get) do %>
      <div class="form-check">
        <% if params[:location_filter].present? %>
          <%= collection_check_boxes(:location_filter, :location_id, Location.all, :id, :name, {include_hidden: false, checked: params[:location_filter][:location_id]}) do |b| %>
            <div class="row">
              <%= b.label(class: "check_box") do %>
                <div class="col-xs-4">
                  <%= b.check_box(class: "form-check-input") %>
                </div>

                <div class="col-xs-8">
                  <%= b.object.name %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% else %>
        <%= collection_check_boxes(:location_filter, :location_id, Location.all, :id, :name, {include_hidden: false}) do |b| %>
          <div class="row">
            <%= b.label(class: "check_box") do %>
              <div class="col-xs-4">
                <%= b.check_box(class: "form-check-input") %>
              </div>

              <div class="col-xs-8">
                <%= b.object.name %>
              </div>
            <% end %>
          </div>

        <% end %>
        <% end %>
      </div>
      <%= submit_tag("Filter", :id=>"button", :class=>"btn btn-outline-primary") %>
    <% end %>
  </div>
</div>
<% end %>
