<p><%= link_to "+ Add Tour", new_tour_path%></p>

<div class="upcoming-tours-container">
<h2>Upcoming Tours</h2>
<% @upcoming_tours.each do |tour| %>
  <%=link_to tour_path(tour.id) do%>
    <section>
      <p>Type: <%=tour.location.name%></h1>
      <p>Date: <%=tour.formatted_date_long%></p>
      <p>Time: <%=tour.formatted_time%></p>
      <p>Price: <%=number_to_currency(tour.base_price, :unit => "$")%></p>
      <p>Enrolled: <%= tour.num_enrolled %></p>
      <hr>
    </section>
  <%end%>
<% end %>
</div>

<div class="past-tours-container">
<h2>Past Tours</h2>
<% @past_tours.each do |tour| %>
  <%=link_to tour_path(tour.id) do%>
    <section>
      <p>Type: <%=tour.location.name%></h1>
      <p>Date: <%=tour.formatted_date_long%></p>
      <p>Time: <%=tour.formatted_time%></p>
      <p>Price: <%=number_to_currency(tour.base_price, :unit => "$")%></p>
      <p>Enrolled: <%= tour.num_enrolled %></p>
      <hr>
    </section>
  <%end%>
<% end %>
</div>
